<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="login-main">
    <mat-card-header fxLayout="row" fxLayoutAlign="center center">
      <mat-card-title>Log in Page</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form fxLayout="column">
        <base-input label="Email" [dataControl]="loginFormGroup.get('email')"></base-input>
        <base-input label="Password" [dataControl]="loginFormGroup.get('password')"></base-input>
      </form>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-raised-button color="accent" [disabled]="loginFormGroup.invalid" (click)="loginClicked()">Login</button>
      <button mat-raised-button color="accent" (click)="signupClicked()">Click here to sign up</button>
    </mat-card-actions>
  </mat-card>
  
</div>